# Chave "Maps SDK for Android" (Google Cloud Console). Obrigatória para corridas/delivery no dispositivo.
# Restrinja por package: com.owaneconnect.oholo
# https://console.cloud.google.com/google/maps-apis
GOOGLE_MAPS_API_KEY=
